
  <html>
    <head>
      <style>
        table {
          width: 100%;
        }
        tr {
          text-align: left;
          border: 1px solid black;
        }
        th, td {
          padding: 15px;
        }
        tr:nth-child(odd) {
          background: #CCC
        }
        tr:nth-child(even) {
          background: #FFF
        }
        .no-content {
          background-color: red;
        }
      </style>
    </head>
    <body>
      <table><tr><td>id_kapal</td><td>mmsi</td><td>vessel_name</td><td>last_heading</td><td>last_received_time_utc_unix</td><td>jenis_kapal</td><td>icon_kapal</td><td>last_latitude</td><td>last_longitude</td><td>flag_tetap</td><td>jarak_pelabuhan_last</td><td>id_pelabuhan_last</td><td>jarak_pelabuhan_terdekat</td><td>id_pelabuhan_terdekat</td><td>flag_get_detail</td><td>wk_rekam</td><td>wk_upd</td></tr><tr><td>135436971</td><td>135436971ANGGADAXV</td><td>ANGGADA XV</td><td>223.1</td><td>2020-05-12 10:15:12 WIB</td><td>Multi Purpose - Kapal Barang</td><td>ship</td><td>116.8053</td><td>-1.2733</td><td>N</td><td>0</td><td>0</td><td>833.3434348376654</td><td>352</td><td>Y</td><td>Thu Nov 05 2020 18:33:41 GMT+0700 (GMT+07:00)</td><td>Thu Nov 05 2020 18:33:42 GMT+0700 (GMT+07:00)</td></tr><tr><td>205744000</td><td>205744000VASCODAGAMA</td><td>VASCO DA GAMA</td><td>123.7</td><td>2020-05-12 10:15:44 WIB</td><td>General Cargo - Kapal Barang</td><td>ship</td><td>103.889</td><td>1.0992</td><td>N</td><td>0</td><td>0</td><td>148.65186693267287</td><td>179</td><td>Y</td><td>Thu Nov 05 2020 18:34:44 GMT+0700 (GMT+07:00)</td><td>Thu Nov 05 2020 18:34:45 GMT+0700 (GMT+07:00)</td></tr><tr><td>209164000</td><td>209164000YVONNE</td><td>YVONNE</td><td>92.1</td><td>2020-05-12 10:15:43 WIB</td><td>Dredger - Kapal Barang</td><td>ship</td><td>103.91</td><td>1.0401</td><td>N</td><td>0</td><td>0</td><td>145.95814586280616</td><td>179</td><td>Y</td><td>Thu Nov 05 2020 18:34:45 GMT+0700 (GMT+07:00)</td><td>Thu Nov 05 2020 18:34:45 GMT+0700 (GMT+07:00)</td></tr><tr><td>209458000</td><td>209458000OCEANUS</td><td>OCEANUS</td><td>274.1</td><td>2020-05-13 12:30:13 WIB</td><td>Fishing Boat - Kapal Penangkap Ikan</td><td>ship-red</td><td>103.6696</td><td>1.3039</td><td>N</td><td>0</td><td>0</td><td>168.87321332011305</td><td>179</td><td>Y</td><td>Thu Nov 05 2020 18:34:45 GMT+0700 (GMT+07:00)</td><td>Thu Nov 05 2020 18:34:46 GMT+0700 (GMT+07:00)</td></tr><tr><td>235060356</td><td>235060356FATIMAII</td><td>FATIMA II</td><td>352.7</td><td>2020-05-13 12:30:28 WIB</td><td>Container - Kapal Barang</td><td>ship</td><td>112.7037</td><td>-7.1837</td><td>N</td><td>0</td><td>0</td><td>460.3911749853225</td><td>382</td><td>Y</td><td>Thu Nov 05 2020 18:34:46 GMT+0700 (GMT+07:00)</td><td>Thu Nov 05 2020 18:34:47 GMT+0700 (GMT+07:00)</td></tr></table>
    </body>
  </html>
