
  <html>
    <head>
      <style>
        table {
          width: 100%;
        }
        tr {
          text-align: left;
          border: 1px solid black;
        }
        th, td {
          padding: 15px;
        }
        tr:nth-child(odd) {
          background: #CCC
        }
        tr:nth-child(even) {
          background: #FFF
        }
        .no-content {
          background-color: red;
        }
      </style>
    </head>
    <body>
    <table width="100%">
      <tr>
      <td align="center" style ="background: #FFF"><img style="display:block; vertical-align: bottom;" src="/static/image/logo5.jpg" width="100%"></td>
      </tr>
    </table>
    <hr>
      <table><tr><td>ID Kapal</td><td>mmsi</td><td>Nama Kapal</td><td>Nama Penanggung Jawab</td><td>Kontak</td></tr><tr><td>135436971</td><td>135436971ANGGADAXV</td><td>ANGGADA XV</td><td>Rio Suga Catra Pratama</td><td>114514</td></tr></table>
    </body>
  </html>
