<div class="right_col" role="main">
	<div class="row">
		<div class="col-md-12 col-sm-12 ">
			<div class="x_panel">
				<div class="x_title">
					<h2>Form Report <small>- Digunakan untuk mencetak laporan yang diinginkan</small></h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<br />
					<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 ">Jenis Laporan</label>
							<div class="col-md-9 col-sm-9 ">
								<select class="form-control select2" id ="type_data">
									<option value ="01">Data Kapal 1</option>
									<option value ="02">Data Kapal 2</option>
								</select>
							</div>
						</div>
						<div class="ln_solid"></div>
						<div class="item form-group">
							<div class="col-md-6 col-sm-6 offset-md-3">
								<button class="btn btn-success"  type="button" id ="btnGenerateKapal">Generate Laporan</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="module">
	$('#btnGenerateKapal').click(function (){
		var search = $('#type_data').val();
        if(search.trim() != ""){
        	$.ajax({
        			url: '/report/generate_laporan',
	        		type: 'POST',
	        		timeout: 60000,
	        		contentType: "application/json; charset=utf-8",
	        		dataType: "json",
	        		data : JSON.stringify({type_data : search}),
        			success: function (data) {
			            // 
			            // console.log(data);

			            if(data.kode == '200'){
			            	showNotif('OK', 'Laporan berhasil dibuat');
			            	window.location.href = '/gen_html/download'
			            }else{
			            	showNotif('ER', 'Laporan gagal dibuat');
			            }

			            
        			},
        			error: function (xhr, ajaxOptions, thrownError) {
        				showNotif('ER', xhr.status +'\n'+ thrownError);
        			}

        		});
        }
	});
</script>