<div class="right_col" role="main">
	<div class="row">
		<div class="col-md-12 col-sm-12 ">
			{{#if isAdmin}}
			<button class="btn btn-success" onclick="showAddUser()">Tambah User</button>
			{{/if}}
			<table class="table table-striped" id="mytable">
				<thead>
					<tr>
						<th>Username</th>
						<th>Password</th>
						<th>Nama User</th>
						<th>Email</th>
						<th>Contact</th>
						<th>Role User</th>
						<th>Aktif</th>
						<th>Aksi</th>
					</tr>
				</thead>
				<tbody>
					{{#each results}}
					<tr>
			          <td>{{ username }}</td>
			          <td>{{ password }}</td>
			          <td>{{ nama_pj }}</td>
			          <td>{{ email }}</td>
			          <td>{{ contact }}</td>
			          <td>{{ role_user }}</td>
			          <td>{{ flag_aktif }}</td>
			          <td>
			          	<a href="javascript:void(0);" class="btn btn-sm btn-info" onclick ="showDetailUser('{{ id_user }}')">Detail User</a>
			            <a href="javascript:void(0);" class="btn btn-sm btn-warning" onclick ="showUpdate('{{ id_user }}')">Edit User</a>
			            <a href="javascript:void(0);" class="btn btn-sm btn-danger" onclick ="showDelete('{{ id_user }}')">Hapus User</a>
			          </td>
			        </tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- detail data -->
<form action="#">
	<div class="modal fade" id="myModalDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Detail User</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>ID User</label>
						<input type="text" name="id_user" class="form-control" placeholder="ID User" required disabled>
					</div>
					<div class="form-group">
						<label>Username</label>
						<input type="text" name="username" class="form-control" placeholder="Username" required disabled>
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="text" name="password" class="form-control" placeholder="Password" required disabled>
					</div>
					<div class="form-group">
						<label>Nama Penanggung Jawab</label>
						<input type="text" name="nama_pj" class="form-control" placeholder="Nama Penanggung Jawab" required disabled>
					</div>
					<div class="form-group">
						<label>Perusahaan</label>
						<input type="text" name="perusahaan" class="form-control" placeholder="Perusahaan" required disabled>
					</div>
					<div class="form-group">
						<label>Alamat Perusahaan</label>
						<input type="text" name="alamat_perusahaan" class="form-control" placeholder="Alamat Perusahaan" required disabled>
					</div>
					<div class="form-group">
						<label>Contact</label>
						<input type="text" name="contact" class="form-control" placeholder="Contact" required disabled>
					</div>
					<div class="form-group">
						<label>Email</label>
						<input type="text" name="email" class="form-control" placeholder="Email" required disabled>
					</div>
					<div class="form-group">
						<label>Role User</label>
						<input type="text" name="role_user" class="form-control" placeholder="Role User" required disabled>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</form>

<!-- Add New Product Modal-->
<form action="/user/add_user" method="post">
	<div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Tambah User</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Username</label>
						<input type="text" name="username" class="form-control" placeholder="Username" required>
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="text" name="password" class="form-control" placeholder="Password" required>
					</div>
					<div class="form-group">
						<label>Nama Penanggung Jawab</label>
						<input type="text" name="nama_pj" class="form-control" placeholder="Nama Penanggung Jawab" required>
					</div>
					<div class="form-group">
						<label>Perusahaan</label>
						<input type="text" name="perusahaan" class="form-control" placeholder="Perusahaan" required>
					</div>
					<div class="form-group">
						<label>Alamat Perusahaan</label>
						<input type="text" name="alamat_perusahaan" class="form-control" placeholder="Alamat Perusahaan" required>
					</div>
					<div class="form-group">
						<label>Contact</label>
						<input type="text" name="contact" class="form-control" placeholder="Contact" required>
					</div>
					<div class="form-group">
						<label>Email</label>
						<input type="text" name="email" class="form-control" placeholder="Email" required>
					</div>
					<div class="form-group">
						<label>Role User</label>
						<input type="text" name="role_user" class="form-control" placeholder="Role User" required>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>
</form>

<!-- Edit Product Modal-->
<form action="/user/update_user" method="post">
	<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="hidden" name="id_user" class="form-control" placeholder="ID User" required>
					<div class="form-group">
						<label>Username</label>
						<input type="text" name="username" class="form-control" placeholder="Username" required>
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="text" name="password" class="form-control" placeholder="Password" required>
					</div>
					<div class="form-group">
						<label>Nama Penanggung Jawab</label>
						<input type="text" name="nama_pj" class="form-control" placeholder="Nama Penanggung Jawab" required>
					</div>
					<div class="form-group">
						<label>Perusahaan</label>
						<input type="text" name="perusahaan" class="form-control" placeholder="Perusahaan" required>
					</div>
					<div class="form-group">
						<label>Alamat Perusahaan</label>
						<input type="text" name="alamat_perusahaan" class="form-control" placeholder="Alamat Perusahaan" required>
					</div>
					<div class="form-group">
						<label>Contact</label>
						<input type="text" name="contact" class="form-control" placeholder="Contact" required>
					</div>
					<div class="form-group">
						<label>Email</label>
						<input type="text" name="email" class="form-control" placeholder="Email" required>
					</div>
					<div class="form-group">
						<label>Role User</label>
						<input type="text" name="role_user" class="form-control" placeholder="Role User" required>
					</div>
				</div>
				<div class="modal-footer">
					<input type="hidden" name="id" class="product_id">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Update</button>
				</div>
			</div>
		</div>
	</div>
</form>

<!-- Delete Product Modal-->
<form id="add-row-form" action="/user/delete_user" method="post">
	<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myModalLabel">Hapus Data User</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<strong>Apakah anda yakin untuk menghapus data ini?</strong>
				</div>
				<div class="modal-footer">
					<input type="hidden" name="id_user" class="form-control" id ="id_user_delete" required>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-success">Delete</button>
				</div>
			</div>
		</div>
	</div>
</form>
