   <script  src="/static/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script  src="/static/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="/static/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script  src="/static/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script  src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script  src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script  src="/static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script  src="/static/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script  src="/static/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script  src="/static/vendors/Flot/jquery.flot.js"></script>
    <script  src="/static/vendors/Flot/jquery.flot.pie.js"></script>
    <script  src="/static/vendors/Flot/jquery.flot.time.js"></script>
    <script  src="/static/vendors/Flot/jquery.flot.stack.js"></script>
    <script  src="/static/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script  src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script  src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script  src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script  src="/static/vendors/DateJS/build/date.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script> -->
    <!-- JQVMap -->
    <!-- bootstrap-daterangepicker -->
    <script  src="/static/vendors/moment/min/moment.min.js"></script>
    <script  src="/static/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script  src="/static/build/js/custom.min.js"></script>

    <script src="/static/js/init.js"></script>
    <script src="/static/js/util_app.js"></script>
 </body>